{"swagger": "2.0", "info": {"title": "Servosity API", "version": "v1"}, "host": "api.servosity.com", "schemes": ["https"], "basePath": "/api/v1", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Token": {"type": "apiKey", "name": "Authorization", "in": "header"}}, "security": [{"Token": []}], "paths": {"/admin/attention/": {"get": {"operationId": "admin_attention_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/dirty-repos/": {"get": {"operationId": "admin_dirty-repos_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/draas-in-progress/": {"get": {"operationId": "admin_draas-in-progress_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/maxio-price-points/": {"get": {"operationId": "admin_maxio-price-points_list", "description": "", "parameters": [{"name": "price_point_handle", "in": "query", "required": false, "type": "string", "maxLength": 255, "minLength": 1}], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "post": {"operationId": "admin_maxio-price-points_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MaxioPricePointCreate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/MaxioPricePointCreate"}}}, "tags": ["admin"]}, "put": {"operationId": "admin_maxio-price-points_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MaxioPricePointUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MaxioPricePointUpdate"}}}, "tags": ["admin"]}, "parameters": []}, "/admin/notification-broadcast/": {"post": {"operationId": "admin_notification-broadcast_create", "summary": "Send a notification to all users.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/NotificationBroadcastCreate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/NotificationBroadcastCreate"}}}, "tags": ["admin"]}, "parameters": []}, "/admin/notification/": {"post": {"operationId": "admin_notification_create", "summary": "Send a notification to a user.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/NotificationCreate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/NotificationCreate"}}}, "tags": ["admin"]}, "parameters": []}, "/admin/servosity-one-push-message/": {"post": {"operationId": "admin_servosity-one-push-message_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ServosityOnePushMessage"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ServosityOnePushMessage"}}}, "tags": ["admin"]}, "parameters": []}, "/admin/servosity-one-push-update/": {"post": {"operationId": "admin_servosity-one-push-update_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ServosityOnePushUpdate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ServosityOnePushUpdate"}}}, "tags": ["admin"]}, "parameters": []}, "/admin/servosity-one-worker-token/": {"get": {"operationId": "admin_servosity-one-worker-token_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/support-staff/": {"get": {"operationId": "admin_support-staff_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/users/": {"get": {"operationId": "admin_users_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/UserSearch"}}}}}}, "tags": ["admin"]}, "parameters": []}, "/admin/worker-agents/": {"get": {"operationId": "admin_worker-agents_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/worker-run/": {"get": {"operationId": "admin_worker-run_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "put": {"operationId": "admin_worker-run_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WorkerRun"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/WorkerRun"}}}, "tags": ["admin"]}, "parameters": []}, "/agent-login/": {"get": {"operationId": "agent-login_list", "description": "", "parameters": [{"name": "token", "in": "query", "required": false, "type": "string"}, {"name": "agent_session_id", "in": "query", "required": false, "type": "string"}], "responses": {"200": {"description": ""}}, "tags": ["agent-login"]}, "post": {"operationId": "agent-login_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AgentLogin"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AgentLogin"}}}, "tags": ["agent-login"]}, "parameters": []}, "/agent-sessions/{agent_session_id}/": {"get": {"operationId": "agent-sessions_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AgentSession"}}}, "tags": ["agent-sessions"]}, "parameters": [{"name": "agent_session_id", "in": "path", "description": "A unique value identifying this agent session.", "required": true, "type": "string"}]}, "/agent-sessions/{agent_session_id}/agent-logs/": {"post": {"operationId": "agent-sessions_request_agent_logs", "description": "", "parameters": [], "responses": {"204": {"description": "Success"}}, "tags": ["agent-sessions"]}, "parameters": [{"name": "agent_session_id", "in": "path", "description": "A unique value identifying this agent session.", "required": true, "type": "string"}]}, "/agent-sessions/{agent_session_id}/install-imagemanager/": {"put": {"operationId": "agent-sessions_install_imagemanager", "description": "", "parameters": [], "responses": {"204": {"description": "Success"}}, "tags": ["agent-sessions"]}, "parameters": [{"name": "agent_session_id", "in": "path", "description": "A unique value identifying this agent session.", "required": true, "type": "string"}]}, "/agent-sessions/{agent_session_id}/install-spx/": {"put": {"operationId": "agent-sessions_install_spx", "description": "", "parameters": [], "responses": {"204": {"description": "Success"}}, "tags": ["agent-sessions"]}, "parameters": [{"name": "agent_session_id", "in": "path", "description": "A unique value identifying this agent session.", "required": true, "type": "string"}]}, "/agent-sessions/{agent_session_id}/push-imagemanager-notify-settings/": {"put": {"operationId": "agent-sessions_push_imagemanager_notify_settings", "description": "", "parameters": [], "responses": {"204": {"description": "Success"}}, "tags": ["agent-sessions"]}, "parameters": [{"name": "agent_session_id", "in": "path", "description": "A unique value identifying this agent session.", "required": true, "type": "string"}]}, "/agent-sessions/{agent_session_id}/push-spx-notify-settings/": {"put": {"operationId": "agent-sessions_push_spx_notify_settings", "description": "", "parameters": [], "responses": {"204": {"description": "Success"}}, "tags": ["agent-sessions"]}, "parameters": [{"name": "agent_session_id", "in": "path", "description": "A unique value identifying this agent session.", "required": true, "type": "string"}]}, "/agent-sessions/{agent_session_id}/push-spx-smtp-settings/": {"put": {"operationId": "agent-sessions_push_spx_smtp_settings", "description": "", "parameters": [], "responses": {"204": {"description": "Success"}}, "tags": ["agent-sessions"]}, "parameters": [{"name": "agent_session_id", "in": "path", "description": "A unique value identifying this agent session.", "required": true, "type": "string"}]}, "/agent-sessions/{agent_session_id}/restart-imagemanager/": {"put": {"operationId": "agent-sessions_restart_imagemanager", "description": "", "parameters": [], "responses": {"204": {"description": "Success"}}, "tags": ["agent-sessions"]}, "parameters": [{"name": "agent_session_id", "in": "path", "description": "A unique value identifying this agent session.", "required": true, "type": "string"}]}, "/agent-sessions/{agent_session_id}/restart-spx/": {"put": {"operationId": "agent-sessions_restart_spx", "description": "", "parameters": [], "responses": {"204": {"description": "Success"}}, "tags": ["agent-sessions"]}, "parameters": [{"name": "agent_session_id", "in": "path", "description": "A unique value identifying this agent session.", "required": true, "type": "string"}]}, "/agent-sessions/{agent_session_id}/restic-interrupt/": {"put": {"operationId": "agent-sessions_restic_interrupt", "description": "", "parameters": [], "responses": {"204": {"description": "Success"}}, "tags": ["agent-sessions"]}, "parameters": [{"name": "agent_session_id", "in": "path", "description": "A unique value identifying this agent session.", "required": true, "type": "string"}]}, "/agent-sessions/{agent_session_id}/spx-activate/": {"put": {"operationId": "agent-sessions_spx_activate", "description": "", "parameters": [], "responses": {"204": {"description": "Success"}}, "tags": ["agent-sessions"]}, "parameters": [{"name": "agent_session_id", "in": "path", "description": "A unique value identifying this agent session.", "required": true, "type": "string"}]}, "/agent-sessions/{agent_session_id}/update-latest/": {"put": {"operationId": "agent-sessions_update_latest", "description": "", "parameters": [], "responses": {"204": {"description": "Success"}, "404": {"description": "Not Found"}, "400": {"description": "Bad Request"}}, "tags": ["agent-sessions"]}, "parameters": [{"name": "agent_session_id", "in": "path", "description": "A unique value identifying this agent session.", "required": true, "type": "string"}]}, "/backup-job-report-summary/{backup_id}/{backup_set_id}/{backup_job_id}/{backup_destination_id}/": {"get": {"operationId": "backup-job-report-summary_read", "summary": "View summary backup report for a backup job and destination.", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["backup-job-report-summary"]}, "parameters": [{"name": "backup_destination_id", "in": "path", "required": true, "type": "string"}, {"name": "backup_id", "in": "path", "required": true, "type": "string"}, {"name": "backup_job_id", "in": "path", "required": true, "type": "string"}, {"name": "backup_set_id", "in": "path", "required": true, "type": "string"}]}, "/backup-job-report/{backup_id}/{backup_set_id}/{backup_job_id}/{backup_destination_id}/": {"get": {"operationId": "backup-job-report_read", "summary": "View detailed backup report for a backup job and destination.", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["backup-job-report"]}, "parameters": [{"name": "backup_destination_id", "in": "path", "required": true, "type": "string"}, {"name": "backup_id", "in": "path", "required": true, "type": "string"}, {"name": "backup_job_id", "in": "path", "required": true, "type": "string"}, {"name": "backup_set_id", "in": "path", "required": true, "type": "string"}]}, "/backup-job-status/{backup_id}/{backup_date}/": {"get": {"operationId": "api_v1_backup-job-status_list", "summary": "List backup job status for a backup account on a specific date.", "description": "`backup_date` format: `YYYY-MM-DD`", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["backup-job-status"]}, "parameters": [{"name": "backup_date", "in": "path", "required": true, "type": "string"}, {"name": "backup_id", "in": "path", "required": true, "type": "string"}]}, "/backup-jobs/{backup_id}/": {"get": {"operationId": "api_v1_backup-jobs_list", "summary": "List backup jobs for a backup account.", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["backup-jobs"]}, "parameters": [{"name": "backup_id", "in": "path", "required": true, "type": "string"}]}, "/backup-plans/": {"get": {"operationId": "backup-plans_list", "summary": "List backup plans.", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/BackupPlan"}}}}, "tags": ["backup-plans"]}, "parameters": []}, "/backup-plans/{id}/": {"get": {"operationId": "backup-plans_read", "summary": "View a backup plan.", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BackupPlan"}}}, "tags": ["backup-plans"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this backup plan.", "required": true, "type": "integer"}]}, "/backup-search/": {"get": {"operationId": "backup-search_list", "description": "", "parameters": [{"name": "company__reseller", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BackupSearch"}}}}}}, "tags": ["backup-search"]}, "parameters": []}, "/backup-sets/{backup_id}/": {"get": {"operationId": "api_v1_backup-sets_list", "summary": "List backup-sets for a backup account.", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["backup-sets"]}, "post": {"operationId": "backup-sets_create", "summary": "Create a backup-set for a backup account.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BackupSet"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BackupSet"}}}, "tags": ["backup-sets"]}, "parameters": [{"name": "backup_id", "in": "path", "required": true, "type": "string"}]}, "/backup-sets/{backup_id}/{backup_set_id}/": {"get": {"operationId": "backup-sets_read", "summary": "View a backup-set for a backup account.", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["backup-sets"]}, "put": {"operationId": "backup-sets_update", "summary": "Update a backup-set for a backup account.", "description": "\nAccepts a json body with the following optional parameters.\n\n`ReadOnly`: Boolean\n\n`Name`: String\nBackup set name\n\n`ShadowCopyEnabled`: Boolean\nEnable Windows' Volume Shadow Copy for open file backup\n\n`DeleteTempFile`: Boolean\nRemove temporary files after backup\n\n`LogRetentionDays`: Integer\nNumber of days to keep the backup set log\n\n`FollowLink`: Boolean\nFollow link of the backup files\n\n`CompressType`: String\nThe value can be one of the following: \"GzipBestSpeedCompression\" (Fast), \"GzipDefaultCompression\" (Normal)\n\n`LanDomain`: String\nWindows User Authentication domain/host name\n\n`LanUsername`: String\nWindows User Authentication user name\n\n`LanPassword`: String\nWindows User Authentication user password\n\n`WorkingDir`: String\nTemporary Driectory for storing backup files\n\n`UploadPermission`: Boolean\nEnable to backup permission attribute of files\n\n`ReminderSettings`\n\n`InFileDeltaSettings`\n\n`LocalCopySettings`\n\n`RetentionPolicySettings`\n\n`CdpSettingsV6`\n\n`CdpSettingsV7`\n\n`BandwidthControlSettings`\n\n`FilterSettings`\n\n`ScheduleSettings`\n\n`DestinationSettings`\n\n`SelectedSourceList`\n\n`DeselectedSourceList`\n\n`PreCommandList`\n\n`PostCommandList`\n\n`AllowedIPList`\n\n`ApplicationSettings`\n\n`DestinationList`\n\n`EnableOpenDirect`: Boolean\nNote: Cannot be changed once set\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BackupSet"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BackupSet"}}}, "tags": ["backup-sets"]}, "delete": {"operationId": "backup-sets_delete", "summary": "Delete a backup-set for a backup account.", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["backup-sets"]}, "parameters": [{"name": "backup_id", "in": "path", "required": true, "type": "string"}, {"name": "backup_set_id", "in": "path", "required": true, "type": "string"}]}, "/backups/": {"get": {"operationId": "backups_list", "summary": "List backup accounts.", "description": "", "parameters": [{"name": "company", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "company__reseller", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "include_reseller", "in": "query", "required": false, "type": "boolean"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Backup"}}}}}}, "tags": ["backups"]}, "post": {"operationId": "backups_create", "summary": "Create a backup account.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BackupCreate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BackupCreate"}}}, "tags": ["backups"]}, "parameters": []}, "/backups/mfa_codes/": {"get": {"operationId": "backups_mfa_codes", "description": "", "parameters": [{"name": "company", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "company__reseller", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BackupMfa"}}}}}}, "tags": ["backups"]}, "parameters": []}, "/backups/{id}/": {"get": {"operationId": "backups_read", "summary": "View a backup account.", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Backup"}}}, "tags": ["backups"]}, "put": {"operationId": "backups_update", "summary": "Update a backup account.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BackupUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BackupUpdate"}}}, "tags": ["backups"]}, "patch": {"operationId": "backups_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BackupUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BackupUpdate"}}}, "tags": ["backups"]}, "delete": {"operationId": "backups_delete", "summary": "Delete a backup account, also deleting all backup data.", "description": "", "parameters": [{"name": "X-Servosity-Mfa", "in": "header", "type": "string"}], "responses": {"204": {"description": ""}}, "tags": ["backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this backup.", "required": true, "type": "integer"}]}, "/backups/{id}/config.ini/": {"get": {"operationId": "backups_config_ini", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Backup"}}}, "tags": ["backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this backup.", "required": true, "type": "integer"}]}, "/backups/{id}/encryption-key-versions/": {"get": {"operationId": "backups_encryption_key_versions", "description": "", "parameters": [{"name": "X-Servosity-Mfa", "in": "header", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Backup"}}}, "tags": ["backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this backup.", "required": true, "type": "integer"}]}, "/backups/{id}/encryption-key/": {"get": {"operationId": "backups_encryption-key_read", "description": "", "parameters": [{"name": "version", "in": "query", "required": false, "type": "integer"}, {"name": "X-Servosity-Mfa", "in": "header", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BackupEncryptionKey"}}}, "tags": ["backups"]}, "put": {"operationId": "backups_encryption-key_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BackupEncryptionKey"}}, {"name": "X-Servosity-Mfa", "in": "header", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BackupEncryptionKey"}}}, "tags": ["backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this backup.", "required": true, "type": "integer"}]}, "/backups/{id}/guarantee_eligible/": {"put": {"operationId": "backups_set_guarantee_eligible", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SetGuaranteeEligible"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SetGuaranteeEligible"}}}, "tags": ["backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this backup.", "required": true, "type": "integer"}]}, "/backups/{id}/guaranteed-recovery-point/": {"get": {"operationId": "backups_guaranteed_recovery_point", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Backup"}}}, "tags": ["backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this backup.", "required": true, "type": "integer"}]}, "/backups/{id}/login/": {"get": {"operationId": "backups_login", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Backup"}}}, "tags": ["backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this backup.", "required": true, "type": "integer"}]}, "/backups/{id}/migrate-dr/": {"put": {"operationId": "backups_migrate_dr", "summary": "Migrate a DR Classic account to new DR account type.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BackupMigrateDr"}}, {"name": "X-Servosity-Mfa", "in": "header", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BackupMigrateDr"}}}, "tags": ["backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this backup.", "required": true, "type": "integer"}]}, "/backups/{id}/password/": {"put": {"operationId": "backups_change_password", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BackupChangePassword"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BackupChangePassword"}}}, "tags": ["backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this backup.", "required": true, "type": "integer"}]}, "/backups/{id}/reissue-spx-key/": {"put": {"operationId": "backups_reissue_spx_key", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "object", "properties": {}}}], "responses": {"200": {"description": "", "schema": {"type": "object", "properties": {}}}}, "tags": ["backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this backup.", "required": true, "type": "integer"}]}, "/backups/{id}/unlock/": {"post": {"operationId": "backups_unlock", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "object", "properties": {}}}], "responses": {"201": {"description": "", "schema": {"type": "object", "properties": {}}}}, "tags": ["backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this backup.", "required": true, "type": "integer"}]}, "/companies/": {"get": {"operationId": "companies_list", "summary": "List companies.", "description": "", "parameters": [{"name": "reseller", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "reseller__dedicated_support_staff__username", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "support_tier", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "include_reseller", "in": "query", "required": false, "type": "boolean"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Company"}}}}}}, "tags": ["companies"]}, "post": {"operationId": "companies_create", "summary": "Create a company.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanySignup"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CompanySignup"}}}, "tags": ["companies"]}, "parameters": []}, "/companies/fully-managed-ng/": {"get": {"operationId": "companies_fully_managed_ng", "summary": "List fully-managed companies.", "description": "", "parameters": [{"name": "reseller", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "reseller__dedicated_support_staff__username", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "support_tier", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/CompanyFullyManagedList"}}}}, "tags": ["companies"]}, "parameters": []}, "/companies/fully-managed/": {"get": {"operationId": "companies_fully_managed", "summary": "List fully-managed companies.", "description": "", "parameters": [{"name": "reseller", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "reseller__dedicated_support_staff__username", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "support_tier", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CompanyReseller"}}}}}}, "tags": ["companies"]}, "parameters": []}, "/companies/summary-ng/": {"get": {"operationId": "companies_summary_ng", "description": "", "parameters": [{"name": "reseller", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "reseller__dedicated_support_staff__username", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "support_tier", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CompanySummaryNg"}}}}}}, "tags": ["companies"]}, "parameters": []}, "/companies/summary/": {"get": {"operationId": "companies_summary", "summary": "List companies with account summaries.", "description": "", "parameters": [{"name": "reseller", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "reseller__dedicated_support_staff__username", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "support_tier", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CompanySummary"}}}}}}, "tags": ["companies"]}, "parameters": []}, "/companies/{company_pk}/restore-queues/": {"get": {"operationId": "companies_restore-queues_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ResticRestoreQueue"}}}}, "tags": ["companies"]}, "post": {"operationId": "companies_restore-queues_create", "description": "", "parameters": [], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ResticRestoreQueueCreate"}}}, "tags": ["companies"]}, "parameters": [{"name": "company_pk", "in": "path", "required": true, "type": "string"}]}, "/companies/{company_pk}/restore-queues/{id}/": {"get": {"operationId": "companies_restore-queues_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResticRestoreQueue"}}}, "tags": ["companies"]}, "put": {"operationId": "companies_restore-queues_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ResticRestoreQueue"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResticRestoreQueue"}}}, "tags": ["companies"]}, "patch": {"operationId": "companies_restore-queues_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ResticRestoreQueue"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResticRestoreQueue"}}}, "tags": ["companies"]}, "delete": {"operationId": "companies_restore-queues_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["companies"]}, "parameters": [{"name": "company_pk", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}]}, "/companies/{company_pk}/restore-queues/{resticrestorequeue_pk}/jobs/": {"get": {"operationId": "companies_restore-queues_jobs_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ResticRestoreJob"}}}}, "tags": ["companies"]}, "post": {"operationId": "companies_restore-queues_jobs_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ResticRestoreJobCreate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ResticRestoreJobCreate"}}}, "tags": ["companies"]}, "parameters": [{"name": "company_pk", "in": "path", "required": true, "type": "string"}, {"name": "resticrestorequeue_pk", "in": "path", "required": true, "type": "string"}]}, "/companies/{company_pk}/restore-queues/{resticrestorequeue_pk}/jobs/{id}/": {"put": {"operationId": "companies_restore-queues_jobs_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ResticRestoreJob"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResticRestoreJob"}}}, "tags": ["companies"]}, "patch": {"operationId": "companies_restore-queues_jobs_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ResticRestoreJob"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResticRestoreJob"}}}, "tags": ["companies"]}, "delete": {"operationId": "companies_restore-queues_jobs_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["companies"]}, "parameters": [{"name": "company_pk", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}, {"name": "resticrestorequeue_pk", "in": "path", "required": true, "type": "string"}]}, "/companies/{company_pk}/restore-queues/{resticrestorequeue_pk}/jobs/{id}/order-first/": {"put": {"operationId": "companies_restore-queues_jobs_order_first", "description": "", "parameters": [], "responses": {"204": {"description": "Success"}}, "tags": ["companies"]}, "parameters": [{"name": "company_pk", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}, {"name": "resticrestorequeue_pk", "in": "path", "required": true, "type": "string"}]}, "/companies/{company_pk}/restore-queues/{resticrestorequeue_pk}/jobs/{id}/order-last/": {"put": {"operationId": "companies_restore-queues_jobs_order_last", "description": "", "parameters": [], "responses": {"204": {"description": "Success"}}, "tags": ["companies"]}, "parameters": [{"name": "company_pk", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}, {"name": "resticrestorequeue_pk", "in": "path", "required": true, "type": "string"}]}, "/companies/{id}/": {"get": {"operationId": "companies_read", "summary": "View a company.", "description": "", "parameters": [{"name": "include_reseller", "in": "query", "required": false, "type": "boolean"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "put": {"operationId": "companies_update", "summary": "Update a company.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyUpdate"}}}, "tags": ["companies"]}, "patch": {"operationId": "companies_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyUpdate"}}}, "tags": ["companies"]}, "delete": {"operationId": "companies_delete", "summary": "Delete a company, also deleting all backup accounts and backup data.", "description": "", "parameters": [{"name": "X-Servosity-Mfa", "in": "header", "type": "string"}], "responses": {"204": {"description": ""}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/agent-session/": {"get": {"operationId": "companies_agent_session", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AgentSession"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/agents/update-latest/": {"post": {"operationId": "companies_agents_agents_update_latest", "description": "", "parameters": [], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/backup-set-templates/": {"get": {"operationId": "companies_backup_set_templates", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BackupSetTemplate"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/backup-stores/": {"get": {"operationId": "companies_backup-stores_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyBackupStore"}}}, "tags": ["companies"]}, "put": {"operationId": "companies_backup-stores_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyBackupStore"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyBackupStore"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/c2c/": {"put": {"operationId": "companies_c2c", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyC2C"}}], "responses": {"201": {"description": "Created"}, "204": {"description": "OK"}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/c2c/{backup_type}/": {"delete": {"operationId": "companies_delete_c2c", "description": "", "parameters": [{"name": "X-Servosity-Mfa", "in": "header", "type": "string"}], "responses": {"204": {"description": ""}}, "tags": ["companies"]}, "parameters": [{"name": "backup_type", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/cloud-to-cloud-dashboard/": {"get": {"operationId": "companies_cloud_to_cloud_dashboard", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/connectwise-download-url/": {"get": {"operationId": "companies_connectwise_download_url", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/dr-snapshots/": {"get": {"operationId": "companies_dr_snapshots", "description": "", "parameters": [{"name": "month", "in": "query", "required": false, "type": "string", "format": "date"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackupSnapshot"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/dr-upload/": {"get": {"operationId": "companies_dr_upload", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/": {"get": {"operationId": "companies_draas_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyDraasInfo"}}}, "tags": ["companies"]}, "post": {"operationId": "companies_draas_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyDraasInfoCreate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CompanyDraasInfoCreate"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/attach-volumes/": {"post": {"operationId": "companies_draas_draas_attach_volumes", "description": "", "parameters": [], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/client-vpn-config/": {"get": {"operationId": "companies_draas_client_vpn_config", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/client-vpn-endpoint-associate/": {"post": {"operationId": "companies_draas_draas_client_vpn_endpoint_associate", "description": "", "parameters": [], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/client-vpn-endpoint-disassociate/": {"post": {"operationId": "companies_draas_draas_client_vpn_endpoint_disassociate", "description": "", "parameters": [], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/client-vpn-endpoint/": {"post": {"operationId": "companies_draas_draas_create_client_vpn_endpoint", "description": "", "parameters": [], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/destroy-spinup/": {"post": {"operationId": "companies_draas_destroy_spinup", "description": "", "parameters": [], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/eligibility/": {"get": {"operationId": "companies_draas_draas_eligibility", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/events/": {"get": {"operationId": "companies_draas_draas_events", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyDraasEvent"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/extra-instance-create-image/": {"put": {"operationId": "companies_draas_draas_extra_instance_create_image", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyDraasInstanceId"}}], "responses": {"201": {"description": "Created"}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/extra-instance-password/": {"get": {"operationId": "companies_draas_draas_extra_instance_password", "description": "", "parameters": [{"name": "instance_id", "in": "query", "required": true, "type": "string", "minLength": 1}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyDraasInstancePassword"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/extra-instance-terminate/": {"put": {"operationId": "companies_draas_draas_extra_instance_terminate", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyDraasInstanceId"}}], "responses": {"200": {"description": "Terminated"}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/extra-instance/": {"put": {"operationId": "companies_draas_draas_extra_instance", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyDraasExtraInstancesCreate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyDraasExtraInstancesCreate"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/finalize-spinup/": {"post": {"operationId": "companies_draas_finalize_spinup", "description": "", "parameters": [], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/images/": {"get": {"operationId": "companies_draas_images_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "delete": {"operationId": "companies_draas_images_delete", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyDraasImageId"}}], "responses": {"204": {"description": "Deleted"}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/instance-actions/": {"post": {"operationId": "companies_draas_instance_actions", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyDraasInstanceAction"}}], "responses": {"204": {"description": "Success"}, "400": {"description": "Bad Request"}, "404": {"description": "Not Found"}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/instances/": {"post": {"operationId": "companies_draas_draas_create_instances", "description": "", "parameters": [], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/new-spinup/": {"post": {"operationId": "companies_draas_new_draas_spinup", "description": "", "parameters": [], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/pause/": {"put": {"operationId": "companies_draas_draas_pause", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/spx-restore-override-success/": {"put": {"operationId": "companies_draas_draas_spx_restore_override_success", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyDraasSpxRestoreAction"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyDraasSpxRestoreAction"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/spx-restore-retry/": {"put": {"operationId": "companies_draas_draas_spx_restore_retry", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyDraasSpxRestoreAction"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyDraasSpxRestoreAction"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/start-spx/": {"post": {"operationId": "companies_draas_start_spx", "description": "", "parameters": [], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/unpause/": {"put": {"operationId": "companies_draas_draas_unpause", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/volumes/": {"post": {"operationId": "companies_draas_draas_create_volumes", "description": "", "parameters": [], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/vpn-ca/": {"post": {"operationId": "companies_draas_draas_create_vpn_ca", "description": "", "parameters": [], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/windows-helper-password/": {"get": {"operationId": "companies_draas_windows_helper_password", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyDraasInstancePassword"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/draas/windows-helper/": {"post": {"operationId": "companies_draas_windows_helper", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyDraasInfoWindowsHelperAction"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CompanyDraasInfoWindowsHelperAction"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/email-report-subscription-delete/": {"put": {"operationId": "companies_email_report_sub_delete", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UUID"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UUID"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/email-report-subscriptions/": {"get": {"operationId": "companies_email-report-subscriptions_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReportSubscription"}}}, "tags": ["companies"]}, "put": {"operationId": "companies_email-report-subscriptions_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReportSubscription"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReportSubscription"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/fully-managed-ng/": {"get": {"operationId": "companies_fully_managed_retrieve", "summary": "Get a fully-managed company.", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyFullyManaged"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/fully-managed-setup-stage/": {"put": {"operationId": "companies_fully_managed_setup_stage", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyFullyManagedSetupStageUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyFullyManagedSetupStageUpdate"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/fully-managed-status/": {"delete": {"operationId": "companies_clear_fully_managed_status", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/imagemanager-info/": {"get": {"operationId": "companies_imagemanager_info", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/issues/": {"get": {"operationId": "companies_issues", "description": "", "parameters": [{"name": "month", "in": "query", "required": false, "type": "string", "format": "date"}, {"name": "audience", "in": "query", "required": false, "type": "string", "enum": ["STAFF", "OPS", "SUPPORT", "DRAAS", "BILLING", "RESELLER"]}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Issue"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/issues/archive/": {"put": {"operationId": "companies_issues_archive_issues", "description": "Archives all issues for the specified company.", "parameters": [], "responses": {"204": {"description": "Success"}, "400": {"description": "Bad Request"}, "404": {"description": "Not Found"}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/log-upload-list/": {"get": {"operationId": "companies_log_upload_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/LogUpload"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/log-upload/": {"get": {"operationId": "companies_log-upload_read", "description": "", "parameters": [], "responses": {"200": {"description": "log upload presigned post", "schema": {"$ref": "#/definitions/LogUploadPresignedPost"}}}, "tags": ["companies"]}, "put": {"operationId": "companies_log-upload_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/LogUploadPostResult"}}], "responses": {"204": {"description": "Success"}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/notes/": {"get": {"operationId": "companies_notes", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyNote"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/other-info/": {"get": {"operationId": "companies_other_info", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyOtherInfo"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/recent-success/": {"get": {"operationId": "companies_recent_success", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/restic-backup-failures/": {"get": {"operationId": "companies_restic_backup_failures", "description": "", "parameters": [{"name": "month", "in": "query", "required": false, "type": "string", "format": "date"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResticBackupJobFailure"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/restic-snapshots/": {"get": {"operationId": "companies_restic_snapshots", "description": "", "parameters": [{"name": "month", "in": "query", "required": false, "type": "string", "format": "date"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResticSnapshot"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/servosity-one-conversion-request/": {"put": {"operationId": "companies_servosity_one_conversion_request", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "object", "properties": {}}}], "responses": {"200": {"description": "", "schema": {"type": "object", "properties": {}}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/servosity-one/download/windows/latest/": {"get": {"operationId": "companies_servosity-one_download_windows_servosity_one_download_windows_latest", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyAgentDownloadQuery"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/companies/{id}/spx-backup-failures/": {"get": {"operationId": "companies_spx_backup_failures", "description": "", "parameters": [{"name": "month", "in": "query", "required": false, "type": "string", "format": "date"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SPXBackupFailure"}}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/company-notes/": {"get": {"operationId": "company-notes_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CompanyNote"}}}}}}, "tags": ["company-notes"]}, "post": {"operationId": "company-notes_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyNote"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CompanyNote"}}}, "tags": ["company-notes"]}, "parameters": []}, "/company-notes/{id}/": {"get": {"operationId": "company-notes_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyNote"}}}, "tags": ["company-notes"]}, "put": {"operationId": "company-notes_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyNoteUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyNoteUpdate"}}}, "tags": ["company-notes"]}, "patch": {"operationId": "company-notes_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyNoteUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompanyNoteUpdate"}}}, "tags": ["company-notes"]}, "delete": {"operationId": "company-notes_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["company-notes"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company note.", "required": true, "type": "integer"}]}, "/components/": {"get": {"operationId": "components_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["components"]}, "parameters": []}, "/contracts/": {"get": {"operationId": "contracts_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ContractShort"}}}}}}, "tags": ["contracts"]}, "post": {"operationId": "contracts_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Contract"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Contract"}}}, "tags": ["contracts"]}, "parameters": []}, "/contracts/get-by-token/": {"get": {"operationId": "contracts_get_by_token", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "token", "in": "query", "required": true, "type": "string", "minLength": 1}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Contract"}}}}}}, "tags": ["contracts"]}, "parameters": []}, "/contracts/signatures/": {"get": {"operationId": "contracts_signatures", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Contract"}}}}}}, "tags": ["contracts"]}, "parameters": []}, "/contracts/{identifier}/": {"get": {"operationId": "contracts_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Contract"}}}, "tags": ["contracts"]}, "put": {"operationId": "contracts_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Contract"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Contract"}}}, "tags": ["contracts"]}, "patch": {"operationId": "contracts_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Contract"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Contract"}}}, "tags": ["contracts"]}, "parameters": [{"name": "identifier", "in": "path", "required": true, "type": "string"}]}, "/contracts/{identifier}/finalize/": {"post": {"operationId": "contracts_finalize", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "object", "properties": {}}}], "responses": {"201": {"description": "", "schema": {"type": "object", "properties": {}}}}, "tags": ["contracts"]}, "parameters": [{"name": "identifier", "in": "path", "required": true, "type": "string"}]}, "/credentials/": {"get": {"operationId": "credentials_list", "description": "", "parameters": [{"name": "company", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Credential"}}}}}}, "tags": ["credentials"]}, "post": {"operationId": "credentials_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Credential"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Credential"}}}, "tags": ["credentials"]}, "parameters": []}, "/credentials/{id}/": {"get": {"operationId": "credentials_read", "description": "", "parameters": [{"name": "version", "in": "query", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Credential"}}}, "tags": ["credentials"]}, "put": {"operationId": "credentials_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CredentialUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CredentialUpdate"}}}, "tags": ["credentials"]}, "patch": {"operationId": "credentials_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CredentialUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CredentialUpdate"}}}, "tags": ["credentials"]}, "delete": {"operationId": "credentials_delete", "description": "", "parameters": [{"name": "X-Servosity-Mfa", "in": "header", "type": "string"}], "responses": {"204": {"description": ""}}, "tags": ["credentials"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this credential.", "required": true, "type": "integer"}]}, "/credentials/{id}/rotate/": {"put": {"operationId": "credentials_rotate", "summary": "Rotate a credential.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CredentialRotate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CredentialRotate"}}}, "tags": ["credentials"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this credential.", "required": true, "type": "integer"}]}, "/credentials/{id}/versions/": {"get": {"operationId": "credentials_versions", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Credential"}}}, "tags": ["credentials"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this credential.", "required": true, "type": "integer"}]}, "/current-user/": {"get": {"operationId": "current-user_list", "summary": "Get information about the current logged in user.", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["current-user"]}, "post": {"operationId": "current-user_create", "summary": "Change the password of the current logged in user.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserPassword"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/UserPassword"}}}, "tags": ["current-user"]}, "parameters": []}, "/current-user/api-token/": {"get": {"operationId": "current-user_api-token_list", "summary": "Obtain an API token for programmatic access.", "description": "\nYou will receive JSON response with `token`.\n\nTo make API calls with the token, add an `Authorization` header to your request in this form:\n\n`Authorization: Token XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX`\n", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["current-user"]}, "delete": {"operationId": "current-user_api-token_delete", "summary": "Delete the current user's API token. A new one will be generated when requested.", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["current-user"]}, "parameters": []}, "/current-user/groups/": {"get": {"operationId": "current-user_groups_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["current-user"]}, "parameters": []}, "/current-user/helpjuice-sso/": {"post": {"operationId": "current-user_helpjuice-sso_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["current-user"]}, "parameters": []}, "/current-user/hubspot-sso/": {"post": {"operationId": "current-user_hubspot-sso_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["current-user"]}, "parameters": []}, "/current-user/mfa-backup-codes/": {"get": {"operationId": "current-user_mfa-backup-codes_list", "description": "Get unused backup codes.\nIf no unused codes are left, remove all and generate new codes.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["current-user"]}, "put": {"operationId": "current-user_mfa-backup-codes_update", "description": "Remove all backup codes and generate new codes.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["current-user"]}, "parameters": []}, "/current-user/notifications/": {"get": {"operationId": "current-user_notifications_list", "description": "Get current user notifications", "parameters": [{"name": "include_deleted", "in": "query", "description": "Include deleted notifications from the last 7 days.", "type": "boolean"}], "responses": {"200": {"description": ""}}, "tags": ["current-user"]}, "parameters": []}, "/current-user/notifications/{notification_id}/": {"delete": {"operationId": "current-user_notifications_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["current-user"]}, "parameters": [{"name": "notification_id", "in": "path", "required": true, "type": "string"}]}, "/current-user/profile/": {"get": {"operationId": "current-user_profile_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["current-user"]}, "post": {"operationId": "current-user_profile_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserProfile"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/UserProfile"}}}, "tags": ["current-user"]}, "parameters": []}, "/current-user/start-mfa/": {"get": {"operationId": "current-user_start-mfa_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["current-user"]}, "post": {"operationId": "current-user_start-mfa_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/StartMfaEnrollment"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/StartMfaEnrollment"}}}, "tags": ["current-user"]}, "parameters": []}, "/current-user/start-mfa/{enrollment_id}/verify/": {"post": {"operationId": "current-user_start-mfa_verify_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["current-user"]}, "parameters": [{"name": "enrollment_id", "in": "path", "required": true, "type": "string"}]}, "/current-user/verified-mfa/": {"get": {"operationId": "current-user_verified-mfa_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["current-user"]}, "parameters": []}, "/current-user/verified-mfa/{enrollment_id}/": {"delete": {"operationId": "current-user_verified-mfa_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["current-user"]}, "parameters": [{"name": "enrollment_id", "in": "path", "required": true, "type": "string"}]}, "/current-user/verified-mfa/{enrollment_id}/send-code/": {"post": {"operationId": "current-user_verified-mfa_send-code_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["current-user"]}, "parameters": [{"name": "enrollment_id", "in": "path", "required": true, "type": "string"}]}, "/download/servosity-one-windows/": {"get": {"operationId": "download_servosity-one-windows_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["download"]}, "parameters": []}, "/dr-backups/": {"get": {"operationId": "dr-backups_list", "description": "", "parameters": [{"name": "company", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "company__reseller", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/DRBackup"}}}}}}, "tags": ["dr-backups"]}, "post": {"operationId": "dr-backups_create", "summary": "Create a DR backup account.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DRBackupCreate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DRBackupCreate"}}}, "tags": ["dr-backups"]}, "parameters": []}, "/dr-backups/{id}/": {"get": {"operationId": "dr-backups_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackup"}}}, "tags": ["dr-backups"]}, "put": {"operationId": "dr-backups_update", "summary": "Update a DR backup account.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DRBackupUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackupUpdate"}}}, "tags": ["dr-backups"]}, "patch": {"operationId": "dr-backups_partial_update", "summary": "Update a DR backup account.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DRBackupUpdate"}}, {"name": "X-Servosity-Mfa", "in": "header", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackupUpdate"}}}, "tags": ["dr-backups"]}, "delete": {"operationId": "dr-backups_delete", "summary": "Delete a DR backup account.", "description": "", "parameters": [{"name": "X-Servosity-Mfa", "in": "header", "type": "string"}], "responses": {"204": {"description": ""}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/agent-session/": {"get": {"operationId": "dr-backups_agent_session", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AgentSession"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/agent-token/": {"get": {"operationId": "dr-backups_agent_token", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackup"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/encryption-key-versions/": {"get": {"operationId": "dr-backups_encryption_key_versions", "description": "", "parameters": [{"name": "X-Servosity-Mfa", "in": "header", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackup"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/encryption-key/": {"get": {"operationId": "dr-backups_encryption-key_read", "description": "", "parameters": [{"name": "version", "in": "query", "required": false, "type": "integer"}, {"name": "X-Servosity-Mfa", "in": "header", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackupEncryptionKey"}}}, "tags": ["dr-backups"]}, "put": {"operationId": "dr-backups_encryption-key_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DRBackupEncryptionKey"}}, {"name": "X-Servosity-Mfa", "in": "header", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackupEncryptionKey"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/failures/": {"get": {"operationId": "dr-backups_failures", "description": "", "parameters": [{"name": "month", "in": "query", "required": false, "type": "string", "format": "date"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SPXBackupFailure"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/guarantee_eligible/": {"put": {"operationId": "dr-backups_set_guarantee_eligible", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SetGuaranteeEligible"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SetGuaranteeEligible"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/guaranteed-recovery-point/": {"get": {"operationId": "dr-backups_guaranteed_recovery_point", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackup"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/issues/": {"get": {"operationId": "dr-backups_issues", "description": "", "parameters": [{"name": "month", "in": "query", "required": false, "type": "string", "format": "date"}, {"name": "audience", "in": "query", "required": false, "type": "string", "enum": ["STAFF", "OPS", "SUPPORT", "DRAAS", "BILLING", "RESELLER"]}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Issue"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/latest-offsite/": {"get": {"operationId": "dr-backups_latest_offsite", "summary": "Get the date of the latest set of selected volumes in the cloud.", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackup"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/latest-success/": {"get": {"operationId": "dr-backups_latest_success", "summary": "Get the date of the latest successful set of selected volumes.", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackup"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/reboot-events/": {"get": {"operationId": "dr-backups_get_reboot_events", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackupRebootEvent"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/reboot-events/cancel/": {"put": {"operationId": "dr-backups_reboot-events_cancel_reboot_event", "description": "", "parameters": [{"name": "reboot_event_id", "in": "query", "required": true, "type": "string", "minLength": 1}], "responses": {"204": {"description": "Cancelled"}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/reboot-events/schedule/": {"put": {"operationId": "dr-backups_reboot-events_schedule_reboot", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DRBackupRebootEventCreate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackupRebootEventCreate"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/reissue-spx-key/": {"put": {"operationId": "dr-backups_reissue_spx_key", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "object", "properties": {}}}], "responses": {"200": {"description": "", "schema": {"type": "object", "properties": {}}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/selected-volumes/": {"get": {"operationId": "dr-backups_get_selected_volumes", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRSelectedVolumes"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/snapshot-chkdsk-results/": {"get": {"operationId": "dr-backups_snapshot_chkdsk_results", "description": "", "parameters": [{"name": "snapshot_id", "in": "query", "required": true, "type": "string", "minLength": 1}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRSnapshotChkdskResultsContent"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/snapshot/": {"get": {"operationId": "dr-backups_snapshot", "description": "", "parameters": [{"name": "snapshot_id", "in": "query", "required": true, "type": "string", "minLength": 1}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackupSnapshot"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/snapshots/": {"get": {"operationId": "dr-backups_snapshots", "description": "", "parameters": [{"name": "month", "in": "query", "required": false, "type": "string", "format": "date"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackupSnapshot"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/snapshots/fail/": {"put": {"operationId": "dr-backups_snapshots_fail_snapshot", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DRBackup"}}, {"name": "snapshot_id", "in": "query", "required": true, "type": "string", "minLength": 1}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackup"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/snapshots/reverify/": {"put": {"operationId": "dr-backups_snapshots_reverify_snapshot", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DRBackup"}}, {"name": "snapshot_id", "in": "query", "required": true, "type": "string", "minLength": 1}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackup"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/dr-backups/{id}/snapshots/upload/": {"put": {"operationId": "dr-backups_snapshots_upload_snapshot", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DRBackup"}}, {"name": "snapshot_id", "in": "query", "required": true, "type": "string", "minLength": 1}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DRBackup"}}}, "tags": ["dr-backups"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this DR Backup.", "required": true, "type": "integer"}]}, "/issue-comments/{id}/": {"put": {"operationId": "issue-comments_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/IssueComment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/IssueComment"}}}, "tags": ["issue-comments"]}, "delete": {"operationId": "issue-comments_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["issue-comments"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this issue comment.", "required": true, "type": "string", "format": "uuid"}]}, "/issues/": {"get": {"operationId": "issues_list", "description": "", "parameters": [{"name": "audience", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "backup", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "drbackup", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "resticbackup", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "company", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "reseller", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "cursor", "in": "query", "description": "The pagination cursor value.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["results"], "type": "object", "properties": {"next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Issue"}}}}}}, "tags": ["issues"]}, "parameters": []}, "/issues/archived/": {"get": {"operationId": "issues_archived", "description": "", "parameters": [{"name": "audience", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "backup", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "drbackup", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "resticbackup", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "company", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "reseller", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "cursor", "in": "query", "description": "The pagination cursor value.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["results"], "type": "object", "properties": {"next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Issue"}}}}}}, "tags": ["issues"]}, "parameters": []}, "/issues/ignored/": {"get": {"operationId": "issues_ignored", "description": "", "parameters": [{"name": "audience", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "backup", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "drbackup", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "resticbackup", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "company", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "reseller", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "cursor", "in": "query", "description": "The pagination cursor value.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["results"], "type": "object", "properties": {"next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Issue"}}}}}}, "tags": ["issues"]}, "parameters": []}, "/issues/{id}/": {"get": {"operationId": "issues_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Issue"}}}, "tags": ["issues"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this issue.", "required": true, "type": "string", "format": "uuid"}]}, "/issues/{id}/archive/": {"put": {"operationId": "issues_archive", "description": "", "parameters": [], "responses": {"200": {"description": "Success"}}, "tags": ["issues"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this issue.", "required": true, "type": "string", "format": "uuid"}]}, "/issues/{id}/comments/": {"put": {"operationId": "issues_add_comment", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/IssueComment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/IssueComment"}}}, "tags": ["issues"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this issue.", "required": true, "type": "string", "format": "uuid"}]}, "/issues/{id}/events/": {"get": {"operationId": "issues_events", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/IssueEvent"}}}, "tags": ["issues"]}, "parameters": [{"name": "
[...]
